@import "styles/_mixins";
@import "styles/_colors";

.c-header {
  display: none;

  @include screen_lg {
    @include page_padding;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: $white;
    gap: 1rem;
  }

  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: flex-start;
    align-items: center;
  }

  &__menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus {
      outline: none;
    }
  }
}
