@import "styles/_mixins";
@import "styles/_colors";

.c-header\@mobile {
  @include page_padding;

  display: flex;
  flex-flow: row wrap;

  @include screen_lg {
    display: none;
  }

  &--is-active {
    @include gradient($dark-navy-blue, $sea-blue);
    touch-action: none;
    min-width: 100%;
    z-index: 100;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
  }

  &__menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus {
      outline: none;
    }
  }
}

.c-icon {
  fill: $sea-blue;

  &__rect-top {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
    transform-origin: left center;
  }

  &__rect-middle {
    transition: opacity 0.3s ease;
    opacity: 1;
  }

  &__rect-bottom {
    transition: transform 0.3s ease;
    transform-origin: left center;
    transform: rotate(0deg);
  }
}

.c-icon--is-open .c-icon__rect-top {
  transition: transform 0.3s ease;
  transform: translate(-6px, -10px) rotate(45deg);
}

.c-icon--is-open .c-icon__rect-middle {
  transition: opacity 0.3s ease;
  opacity: 0;
}

.c-icon--is-open .c-icon__rect-bottom {
  transition: transform 0.3s ease;
  transform: translate(-10px, 18px) rotate(-45deg);
}

.c-header\@mobile--is-active .c-icon {
  fill: $white;
}

.c-header\@mobile--is-active .c-logo__image {
  color: $white;
  transition: color 0.4s ease;
}

.c-header\@mobile--is-active .c-divider {
  background-color: $white;
}
