body {
  color: $light-grey;

  @include body-regular;
}

h1 {
  letter-spacing: 3.46px;
  font-size: 4.125rem;
  font-weight: 700;
  color: $white;
}

h2 {
  letter-spacing: 2.78px;
  font-size: 3.125rem;
  font-weight: 700;
}

h3 {
  letter-spacing: 1.63px;
  font-size: 2rem;
  font-weight: 700;
}

a {
  color: $sea-blue;
  font-size: 0.75rem;
  letter-spacing: 3.28px;
  font-weight: 600;
  text-transform: uppercase;

  &:focus {
    outline-color: $sea-blue;
    border-radius: 1rem;
    color: $light-navy-blue;
  }

  @include screen_xl {
    font-size: 0.875rem;
  }
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline-color: $light-navy-blue;

  &:focus {
    outline: 0.2rem solid $light-navy-blue;
  }
}
