body {
  color: $light-grey;

  @include body-regular;
}

h1 {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.46px;
  color: $white;

  @include screen_md {
    font-size: 4.125rem;
  }
}

h2 {
  font-size: 2.125rem;
  font-weight: 700;

  @include screen_md {
    font-size: 3.125rem;
    letter-spacing: 2.78px;
  }
}

h3 {
  letter-spacing: 1.63px;
  font-size: 1.1rem;
  line-height: normal;
  font-weight: 700;

  @include screen_md {
    font-size: 1.25rem;
  }
}

a {
  max-width: max-content;
  color: $sea-blue;
  letter-spacing: 3.28px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.3s ease;

  @include screen_lg {
    font-size: 0.875rem;
  }

  &:focus {
    outline: none;
    color: $light-navy-blue;
  }

  &:hover {
    color: $sea-blue;
  }
}

button {
  border: none;
  background: none;
  cursor: pointer;

  @include screen_lg {
    font-size: 0.875rem;
  }

  &:focus {
    outline: 0.15rem solid $light-navy-blue;
    outline-offset: 0.25rem;
    box-shadow: 0 4px 32px rgba($sea-blue, 0.45);
  }
}

input {
  position: relative;
  border: 0.12rem solid $white;
  border-radius: 0.4rem;
  background: transparent;
  color: $white;
  font-size: 1rem;
  padding-left: 0.5rem;
  letter-spacing: 1.63px;
  outline: none;
  transition: border 0.3s ease, box-shadow 0.3s ease;

  &::placeholder {
    color: $white;
    font-size: 1rem;
    padding-left: 0.5rem;
    letter-spacing: 1.63px;
  }

  &:focus {
    border: 0.12rem solid $sea-blue;
    box-shadow: 0 4px 36px rgba($sea-blue, 0.24);
  }
}
